<div class="page-title">
  <h4>Категорії</h4>
  <button
    (click)="onAddCategory()"
    class="waves-effect waves-light btn grey darken-1">
    Додати категорію
  </button>
</div>

<div
  *ngIf="(categoryList$ | async) as list; else loaderComponent"
  class="row">
  <div
    *ngIf="list.length > 0; else empty"
    class="col s12">
    <div
      *ngFor="let category of list"
      class="collection">
      <a
        [routerLink]="[category._id]"
        class="collection-item">
        {{category.name}}
      </a>
    </div>
  </div>

  <ng-template #empty>
    <div class="center">
      Ви не маєте ще жодної створеної категорії.
    </div>
  </ng-template>
</div>

<ng-template #loaderComponent>
  <app-loader></app-loader>
</ng-template>
