<div *ngIf="categoryList$ | async as categories; else loader" class="order-row">
  <ng-container *ngIf="categories.length > 0; else empty">
    <div
      *ngFor="let category of categories"
      [routerLink]="['/order', category._id]"
      class="card waves-effect pointer">
      <div class="center">
        <img
          [src]="apiUrl + '/' + category.imageSrc"
          class="responsive-img order-img">
      </div>
      <div class="card-content center p10">
        <h5 class="m0">{{category.name}}</h5>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #empty>
  <div class="center">
    Ви не маєте ще жодної створеної категорії.
  </div>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
