<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиції:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small modal-trigger" data-target="create-modal">
        Додати позицію
      </button>
    </div>

    <ng-container *ngIf="positionList; else loaderComponent">
      <ng-container *ngIf="positionList.length; else empty">
        <div *ngFor="let item of positionList" class="collection">
          <a class="collection-item collection-item-icon">
          <span>
            {{item.name}}<strong>{{item.cost}} грн.</strong>
          </span>
          <span>
           <i class="material-icons">delete</i>
          </span>
          </a>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loaderComponent>
      <app-loader></app-loader>
    </ng-template>

    <ng-template #empty>
      <p class="center">Ви не маєте ще жодної створеної позиції для даної категорії.</p>
    </ng-template>
  </div>
</div>
