<div class="page-title">
  <h4>
    <a routerLink="../">Категорії</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{category ? 'Редагувати' : 'Додати'}} категорію
  </h4>
  <span>
    <button
      [disabled]="!category"
      (click)="onRemove()"
      type="button"
      class="btn btn-small red">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="col s12 l6">
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text">
      <label for="name">Назва</label>
      <span *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name').errors['required']" class="helper-text red-text">Поле не може бути пустим!</span>
      </span>
    </div>

    <div>
      <input
        #ImageUploader
        (change)="onImageUploadComplete($event)"
        type="file"
        class="dn">
      <button
        [disabled]="form.invalid"
        (click)="onImageUpload(ImageUploader)"
        type="button"
        class="waves-effect waves-light btn orange lighten-2 mb2">
        <i class="material-icons left">backup</i>
        Завантажити зображення
      </button>
    </div>

    <div>
      <button
        [disabled]="form.invalid"
        type="submit"
        class="waves-effect waves-light btn">
        Зберегти зміни
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      *ngIf="imageUrl"
      [src]="imageUrl"
      class="responsive-img h200">
  </div>
</div>
